    .yew-modal {
        position: fixed;
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(0 0 0 / 60%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    .yew-modal-content {
        background: #ffffff;
        padding: 15px 30px;
        border-radius: 5px;
    }

    .header {
        padding: 5px;
        border-bottom: 1px solid black;
    }

    .body {
        padding: 5px;
    }

    .footer {
        padding: 5px;
        border-top: 1px solid black;
    }