* {
    box-sizing: border-box;
}

.yew-modal {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 60%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.display-none {
    display: none;
}

.yew-modal-content {
    background: #ffffff;
    border-radius: 5px;
}

.yew-modal-header {
    padding: 15px 30px;
}

.yew-modal-body {
    padding: 15px 30px;
    border-bottom: 1px solid #edeef2;
    border-top: 1px solid #edeef2;

}

.yew-modal-footer {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    background-color: rgb(247, 248, 250);
    border-top: 1px solid rgb(237, 238, 242);
}

.yew-modal-close-button {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.yew-modal-header-title {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: bold;
    font-size: 16px;
}